@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
<link rel="stylesheet" href="~/css/all.min.css"/>
<link rel="stylesheet" href="~/css/slick.css"/>
<link rel="stylesheet" href="~/css/slick-theme.css"/>
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/templatemo-dream-pulse.css"/>
<style>
    body{
    width: 100%!important;
    background-color: azure!important;
    }
    .main-container{
    width: 100%!important;
    }
</style>
<div>
<nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar side-navigation" style="">
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="tm-sidebar-sticky">
        <div class="tm-brand-box">
            <div class="tm-double-border-1">
                <div class="tm-double-border-2">
                    <h1 class="tm-brand">
                        <img src="/img/dekut.png" alt="" style="width: 100%;">
                        DeKUT Surveys
                    </h1>
                </div>
            </div>
        </div>

        <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
            <li class="nav-item">
                <a href="#intro" class="nav-link active">
                    <span class="d-inline-block mr-3">Intro</span>
                    <span class="d-inline-block tm-white-rect"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">
                    <span class="d-inline-block mr-3">About</span>
                    <span class="d-inline-block tm-white-rect"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#work" class="nav-link">
                    <span class="d-inline-block mr-3">Guide</span>
                    <span class="d-inline-block tm-white-rect"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#talk" class="nav-link">
                    <span class="d-inline-block mr-3">Let's Talk</span>
                    <span class="d-inline-block tm-white-rect"></span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Surveys" onclick="return window.location=this.href" asp-action="Surveys" class="">
                    <span class="d-inline-block mr-3">View/Take Surveys</span>
                </a>
            </li>
        </ul>
        @*<ul class="nav flex-row tm-social-links">
            <li class="nav-item">
                <a href="https://facebook.com" class="nav-link tm-social-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com" class="nav-link tm-social-link">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://dribbble.com" class="nav-link tm-social-link">
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://linkedin.com" class="nav-link tm-social-link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
         <footer class="text-center text-white small">
            <p class="mb--0 mb-2">Copyright @DateTime.Now.Year DeKUT SDC</p>
        </footer> *@
    </div>
</nav>
<main class="container-fluid" style="width: 100%!important;">
<div class="row">

<main role="main" class="ml-sm-auto col-12">
<div
    class="parallax-window"
    data-parallax="scroll"
    data-image-src="img/istockphoto-1153190901-612x612-removebg-preview.png">
     <div class="tm-section-wrap">
        <section id="intro" class="tm-section">
            <div class="tm-bg-white-transparent tm-intro">
                <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">Introducing Dkut Survey/Questionnaire App</h2>
                <p class="tm-color-gray">
                    Simple and easy way to take a survey or questionnaire.
                    Survey results can be easily accessed and analysed for free.
                </p>
                <p class="mb-0 tm-color-gray">
                    You create a survey or questionnaire easily in a way that you like or select existing templates.
                </p>
            </div>
        </section>
    </div> 
</div>

<div class="tm-section-wrap bg-white">
    <section id="about" class="row tm-section">
        <div class="col-xl-6">
            <div class="tm-section-half">
                <div>
                    <i class="fas fa-6x fa-balance-scale mb-5 tm-section-icon"></i>
                </div>
                <h2 class="tm-section-title tm-color-primary mb-5">About</h2>
                <p class="mb-5">
                    Following the difficulties on taking a survey or a questionneire, there was a need for creating a free and customizable application for taking a survey.
                </p>
                <p>
                    This system is free for anyone to use for personal or commercial perpose.
                </p>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="tm-section-half">
                <div>
                    <i class="far fa-6x fa-building mb-5 tm-section-icon"></i>
                </div>
                <h2 class="tm-section-title tm-color-primary mb-5">Company Profile</h2>
                <p class="mb-5">
                    Dekut SDC is a software department for creating in house or commercial software.
                </p>
                <p>
                    Conatact us for any inquiries.
                </p>
            </div>
        </div>
    </section>
</div>

<div class="tm-section-wrap bg-white">
    <section id="work" class="row tm-section">
        <div class="col-12">
            <div class="w-100 tm-double-border-1 tm-border-gray">
                <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                    <div class="tm-gallery-wrap">
                        <h2 class="tm-color-primary tm-section-title mb-4 ml-2">Simple Setup</h2>
                        <div class="tm-gallery">
                            <div class="tm-gallery-item">
                                <h2>(1) Surveys</h2>
                                <p>
                                    Create a new survey describing the details of the survey
                                    as required by the new survey form
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/01.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/01.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(2) Survey subjects </h2>
                                <p>
                                    Add new subjects to the created survey and fil in the descriptions as
                                    as required by the new subject form
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/02.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/02.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(3) Survey subjects Groups</h2>
                                <p>
                                    If you wish to categorys or group the survey subject,
                                    you can create survey categories for the survey and group the survey subject
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/03.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/03.jpg">View more</a>
                                    </figcaption> 
                                </figure>*@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(4) subjects Questions</h2>
                                <p>
                                    Questions are then added the survey subject indicating the response types
                                    needed for the Question
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/04.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/04.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(5) subjects Question Groups</h2>
                                <p>
                                    You can group the survey the question by adding question groups on the subject
                                    and group the subject questions
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/05.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/05.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(6) Survey results</h2>
                                <p>
                                    After a successful survey, you can view the results of the survey per subject or per individual
                                    question.The results can be exported as a pdf or excel document
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/06.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="img/gallery/large/06.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            <div class="tm-gallery-item">
                                <h2>(7) Survey Response Options</h2>
                                <p>
                                    If you are not satisfied by the response options, you can create your
                                    response option satisfing you question(s)
                                </p>
                                @* <figure class="effect-bubba">
                                    <img src="~/img/gallery/07.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="~/img/gallery/large/07.jpg">View more</a>
                                    </figcaption>
                                </figure> *@
                            </div>
                            @* <div class="tm-gallery-item">
                                <figure class="effect-bubba">
                                    <img src="~/img/gallery/08.jpg" alt="Our Work Image" class="img-fluid">
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="~/img/gallery/large/08.jpg">View more</a>
                                    </figcaption>
                                </figure>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="tm-section-wrap bg-white">
    <section id="talk" class="row tm-section">
        <div class="col-xl-6 mb-5">
            <div class="tm-double-border-1 tm-border-gray">
                <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                    <h2 class="tm-color-primary tm-section-title mb-4">Talk to Us</h2>
                    <p class="mb-4">
                        We are open for any system suggestions or improvements.
                    </p>
                    <p class="mb-3">
                        Dedan Kimathi University, <br>
                        Private bag, 10660 <br>
                        Nyeri
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-5">
            <div class="tm-contact-form-wrap">
                <form action="" method="POST" class="tm-contact-form">
                    <div class="form-group">
                        <input type="text" id="contact_name" name="contact_name" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Name" required=""/>
                    </div>
                    <div class="form-group">
                        <input type="email" id="contact_email" name="contact_email" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Email" required=""/>
                    </div>

                    <div class="form-group">
                        <textarea rows="4" id="contact_message" name="contact_message" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Message..." required=""></textarea>
                    </div>

                    <div class="form-group mb-0">
                        <button type="submit" class="btn rounded-0 d-block ml-auto tm-btn-primary">
                            SEND
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</main>
</div>
</main>
</div>

@section Scripts
{
    <script src="~/js/jquery.singlePageNav.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/templatemo-scripts.js"></script>

}