@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Surveys" asp-action="Surveys" class="btn btn-info btn-lg">View/Take Surveys</a>
</div>
