@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var message = ViewBag.ErrorMessage;
}
<div class="text-md-center">
<h1 class="text-danger">Error</h1>
<h2 class="text-danger">@message.</h2>
</div>