@model Surveyapp.Models.Question

@{
    ViewData["Title"] = "Create Question";
}
<style>
    .new_add_field_button {
        border-radius: 50%;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5%;
        zoom: 200%;
        /*text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px*/
    }

    .new_minus_field_button {
        border-radius: 50%;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5%;
        zoom: 200%;
    }
</style>

<div class="row" style="margin-left: 2%" id="create-surveyquestion-partial">
    <div class="col-md-12">
        @if (TempData["FeedbackMessage"] != null)
        {
            <div id="FeedbackMessage" class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["FeedbackMessage"]!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <h4>Create Question</h4>
        <form asp-action="Create" data-ajax="true" id="creat-surveysubjectpartial-form"
              data-ajax-loading="#spinner" data-ajax-method="POST" data-ajax-failure="fail"
              data-ajax-success="success" data-ajax-update="#create-surveyquestion-partial"
              data-ajax-mode="replace">
            <span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" required="required" name="SubjectId" value="@ViewBag.subjectid">
            <input type="hidden" asp-for="ResponseTypeId" value="@ViewBag.ResponseTypeId">
            <div class="wrapper">
                <div class="form-group col-md-12" style="display: flex;">
                    <label asp-for="question" class="control-label"></label>
                    <div class="form-group col-md-4">
                        <textarea placeholder="Input question" rows="4" cols="50" type="text" required="required" name="quiz" class="form-control"></textarea>
                        <span asp-validation-for="question" class="text-danger"></span>
                    </div>
                    <p class="col-md-8"><a href="javascript:void(0);" onclick="addquestionfield(this)" class="add_fields btn btn-secondary btn-sm">Add another question field</a></p>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/jquery-ui.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    setTimeout(function () {
        $("#FeedbackMessage").hide("slide", { direction: "right" }, 1000);
    }, 3000);
    var max_fields = 50;
    var x = 1; //Initial input field is set to 1
    function addquestionfield(element) {
        //Check maximum allowed input fields
        if (x < max_fields) {
            x++; //input field increment
            //add input field
            $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;">' +
                '<label class="control-label">question</label>' +
                '<div class="form-group col-md-7">' +
                '<textarea rows="4" cols="50" class="form-control" name="quiz" placeholder="Input question" ></textarea>' +
                '</div>' +
                '<div class="col-md-7">' +
                '<p class="col-md-3"><a href="javascript:void(0);" onclick="addquestionfield(this)" title="Add another question field" class="add_fields new_add_field_button fas fa-plus-circle"></a></p>' +
                '<p class="col-md-3"><a href="javascript:void(0);" title="Remove question field" class="remove_field new_minus_field_button fas fa-minus-circle"></a></p>' +
                '</div>' +
                '</div>');
            //add focus on last textarea
            $(element).closest(".wrapper").find('.form-group:last-child textarea').focus()
        }
    }

    //when user click on remove button
    $(".wrapper").on("click", ".remove_field", function (e) {
        e.preventDefault();
        $(this).closest('div.form-group').remove(); //remove inout field
        x--; //inout field decrement
    });
    function success() {
        console.log("success")
    }
    function fail() {
        alert("Creation failed")
    }
</script>
