@model Surveyapp.Models.ResponseType

@{
    ViewData["Title"] = "Create";
}
<style>
    .new_add_response_field_button {
    border-radius: 50%;
    background-color: #0062cc;
      border: none;
      color: white;
      /*padding: 5%;*/
      zoom: 200%;
    }
    .new_minus_response_field_button{
        border-radius: 50%;
        background-color: #0062cc;
          border: none;
          color: white;
          /*padding: 5%;*/
          zoom: 200%;
          margin-left: 5%;
        } 
</style>
<div class="row col-md-12" style="margin-left: -9%" id="create-surveyresponse-partial">
    <div class="col-md-12">
        @if (TempData["FeedbackMessage"] != null)
        {
            <div id="FeedbackMessage" class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["FeedbackMessage"]!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <h1>Add survey response options</h1>
        <h2 style="color:red;background-color: #f3f6cf">Note the order of adding the response option<small style="color:red">(This is used for rating scale)</small></h2>
        <form asp-action="Create" data-ajax="true" id="creat-surveyresponsepartial-form"
          data-ajax-loading="#spinner" data-ajax-method="POST" data-ajax-failure="fail"
          data-ajax-success="success" data-ajax-update="#create-surveyresponse-partial"
          data-ajax-mode="replace">
            <span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="wrapper">
                <div class="form-group">
                    <label asp-for="ResponseName" class="control-label"></label>
                    <input asp-for="ResponseName" placeholder="eg poor to good option or yes no option" class="form-control" />
                    <span asp-validation-for="ResponseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" required="required" name="SubjectId" value="@ViewBag.SubjectId">
                </div>
                <div class="col-md-12" style="display: flex;">
                    <label class="control-label">Response Options</label>
                    <div class="form-group col-md-4">
                        <input required="required" name="responseDictionary" placeholder="Input response option" class="form-control"/>
                    </div>
                    <p class="col-md-8"><a href="javascript:void(0);" onclick="addresponsefield(this)" style="border-radius: 6px" class="add_fields btn btn-secondary btn-sm">Add response option field</a></p>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    setTimeout(function () {
        $("#FeedbackMessage").hide("slide", { direction: "right" }, 1000);
    }, 3000);
    var max_fields = 10;
    var x = 1; //Initial input field is set to 1
    function addresponsefield(element){
        //Check maximum allowed input fields
        if(x < max_fields){
            x++; //input field increment
            //add input field
            $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;">' +
                         '<label class="control-label">Response Options</label>' +
                          '<div class="form-group col-md-4">' +
                          '<input class="form-control" required="required" name="responseDictionary" placeholder="Input response option" />' +
                           '</div>' +
                           '<div style="display: flex" class="col-md-8" >' +
                           '<p style="margin-right: 4%"><a href="javascript:void(0);" onclick="addresponsefield(this)" title="Add response option" class="add_fields new_add_response_field_button fas fa-plus-circle"></a></p>' +
                           '<p ><a href="javascript:void(0);" title="Remove option field" class="remove_field new_minus_response_field_button fas fa-minus-circle"></a></p>' +
                           '</div>' +
                            '</div>');
         //add focus on last input
        $(element).closest(".wrapper").find('.form-group:last-child input').focus();
        }
            }
        //when user click on remove button
        $(".wrapper").on("click",".remove_field", function(e){ 
                e.preventDefault();
         $(this).closest('div.form-group').remove(); //remove inout field
         x--; //inout field decrement
            });
    function success() {
      console.log("success")
    }
    function fail() {
      alert("Creation failed")
    }
</script>
