@model Surveyapp.Models.ResponseType

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        @*<li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>*@
        <li class="breadcrumb-item">
            <a asp-action="Index">
                <span>Option Types</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Edit Option Types</span>
            </a>
        </li>
    </ol>
</nav>

<hr/>
@*<h2 style="color:red;background-color: #f3f6cf">Note the order of adding the response option<small style="color:red">(This is used for rating scale)</small></h2>*@
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="CreatorId" >
            <div class="form-group">
                <label asp-for="ResponseName" class="control-label"></label>
                <input asp-for="ResponseName" placeholder="eg poor to good option or yes no option" class="form-control"/>
                <span asp-validation-for="ResponseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOptionType" class="control-label"></label>
                <select asp-for="DisplayOptionType" asp-items="Html.GetEnumSelectList<DisplayOptionType>()" class="form-control"></select>
                <span asp-validation-for="ResponseName" class="text-danger"></span>
            </div>
            <div class="respond-options-div">
                <h4>Respond options and their Value</h4>
                @if (Model?.ResponseDictionary.Any() is true)
                {
                    for (var i = 0; i < (Model?.ResponseDictionary).Count; i++)
                    {
                        <div class="d-flex response-group">
                            <div class="form-group" style="width: auto;margin-left: 3%">
                                <label style="margin-right: 3%" class="control-label">Name</label>
                                <input required asp-for="ResponseDictionary[i].Name" style="width: auto;" class="form-control"/>
                                <span asp-validation-for="ResponseDictionary[i].Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="width: auto;margin-left: 3%">
                                <label style="margin-right: 3%" class="control-label">Value</label>
                                <input required asp-for="ResponseDictionary[i].Value" style="width: auto;" class="form-control"/>
                                <span asp-validation-for="ResponseDictionary[i].Value" class="text-danger"></span>
                            </div>
                            <p style="width: auto;margin-left: 3%;margin-top: 2%">
                                <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addresponsefield(this)">Add another response</a>
                                @if (i != 0)
                                {
                                    <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info remove_field">remove response</a>
                                }
                            </p>
                        </div>
                    }
                }
                else
                {
                    <div class="d-flex response-group">
                        <div class="form-group" style="width: auto;margin-left: 3%">
                            <label style="margin-right: 3%" class="control-label">Name</label>
                            <input required asp-for="ResponseDictionary[0].Name" style="width: auto;" class="form-control"/>
                            <span asp-validation-for="ResponseDictionary[0].Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: auto;margin-left: 3%">
                            <label style="margin-right: 3%" class="control-label">Value</label>
                            <input required asp-for="ResponseDictionary[0].Value" style="width: auto;" class="form-control"/>
                            <span asp-validation-for="ResponseDictionary[0].Value" class="text-danger"></span>
                        </div>
                        <p style="width: auto;margin-left: 3%;margin-top: 2%">
                            <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addresponsefield(this)">Add another response</a>
                        </p>
                    </div>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var max_fields = 10;
        var x = 1; //Initial input field is set to 1
        function addresponsefield(element){
                //Check maximum allowed input fields
                if(x < max_fields){
                    var propElements = $(element).closest(".respond-options-div").find(".response-group").length;
                    var nextPropElement = parseInt(propElements)+1;
                    x++; //input field increment
                    //add input field
                    $(".respond-options-div").append('<div class="d-flex response-group">'+
                                          '<div class="form-group" style="width: auto;margin-left: 3%">'+
                                          '    <label style="margin-right: 3%" class="control-label">Name</label>'+
                                          '    <input required name="ResponseDictionary['+nextPropElement+'].Name" style="width: auto;" class="form-control"/>'+
                                          '</div>'+
                                          '<div class="form-group" style="width: auto;margin-left: 3%">'+
                                          '    <label style="margin-right: 3%" class="control-label">Value</label>'+
                                          '    <input required type="number" name="ResponseDictionary['+nextPropElement+'].Value" style="width: auto;" class="form-control"/>'+
                                          '</div>'+
                                          '<p style="width: auto;margin-left: 3%;margin-top: 2%">'+
                                          '    <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addresponsefield(this)">Add another response</a>'+
                                          '    <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info remove_field">remove response</a>'+
                                          '</p>'+
                                          '</div>');
                 //add focus on last input
                $(element).closest(".wrapper").find('.form-group:last-child input').focus();
                }
                    }
       /* $(".add_fields").click(function(e){
                e.preventDefault();
         //Check maximum allowed input fields
                if(x < max_fields){ 
                    x++; //input field increment
         //add input field
                    $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;"><label class="control-label">Response Options</label><div class="form-group col-md-4"><input class="form-control" name="responseDictionary" placeholder="Input response option" /></div><p class="col-md-8"><a href="javascript:void(0);" class="remove_field btn btn-sm btn-secondary">Remove option</a></p></div>');
                }
            });*/
         
            //when user click on remove button
            $(document).on("click",".remove_field", function(e){ 
                    e.preventDefault();
             $(this).closest('div.response-group').remove(); //remove inout field
             x--; //inout field decrement
                });
    </script>
}