@model Surveyapp.Models.Survey

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>*@

<h4>Create Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                @*<input asp-for="status" class="form-control" />*@
                <select asp-for="status" class="form-control">
                    <option value="Open">Open<small>(anounimous take is survey)</small></option>
                    <option value="Closed" selected="selected">Closed<small>(login required for survey take)</small></option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SurveyerId" class="control-label"></label>
                <select asp-for="SurveyerId" class ="form-control" asp-items="ViewBag.SurveyerId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
