@model Surveyapp.Models.Survey

@{
    ViewData["Title"] = "Edit";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a asp-action="Index">
                <span>My Surveys </span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Edit @Model.Name Survey </span>
            </a>
        </li>
    </ol>
</nav>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            @* <input type="hidden" asp-for="SurveyerId" /> *@
            <input type="hidden" asp-for="approvalStatus">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control"/>
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description"  class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    var statusSelect = new[]
                    {
                        new { text = "Open (allow anonymous take of survey)", value = "Open" },
                        new { text = "Closed (login required for survey take)", value = "Closed" },
                        new { text = "SelectiveParticipants (only Selected Participants)", value = "SelectiveParticipants" }
                    }.Select(c => new SelectListItem
                    {
                        Value = c.value,
                        Text = c.text,
                        Selected = c.value == Model.status
                    });
                }
                <label asp-for="status" class="control-label"></label>
                @*<input asp-for="status" class="form-control" />*@
                <select asp-for="status" class="form-control" onchange="surveyTypechange(this)" asp-items="statusSelect"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForStudents" class="control-label"></label>
                <input asp-for="ForStudents" class="form-control"/>
                <span asp-validation-for="ForStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForStaff" class="control-label"></label>
                <input asp-for="ForStaff" class="form-control"/>
                <span asp-validation-for="ForStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListedOnSurveyListPage" class="control-label"></label>
                <input asp-for="ListedOnSurveyListPage" class="form-control"/>
                <span asp-validation-for="ListedOnSurveyListPage" class="text-danger"></span>
            </div>
            @if (Model.status == "SelectiveParticipants")
            {
                <div class="form-group Participants">
                    <label asp-for="SurveyParticipants" class="control-label"></label>
                    @*<input asp-for="status" class="form-control" />*@
                    <select name="SurveyParticipants" multiple="multiple" asp-items="ViewBag.Participants" class="form-control">
                    </select>
                    <span asp-validation-for="SurveyParticipants" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group Participants" style="display: none">
                    <label asp-for="SurveyParticipants" class="control-label"></label>
                    @*<input asp-for="status" class="form-control" />*@
                    <select name="SurveyParticipants" multiple="multiple" asp-items="ViewBag.Participants" class="form-control">
                    </select>
                    <span asp-validation-for="SurveyParticipants" class="text-danger"></span>
                </div>
            }
            <div>
                <h5>Optional(s)</h5>
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" data-allow-clear="true" class="form-control" asp-items="ViewBag.courses">
                        <option value="" selected="selected"></option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" data-allow-clear="true" class="form-control" asp-items="ViewBag.departments">
                        <option value="" selected="selected"></option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="SurveyerId" class="control-label"></label>
                <select asp-for="SurveyerId" class="form-control" asp-items="ViewBag.SurveyerId"></select>
                <span asp-validation-for="SurveyerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#EndDate").attr("min",$("#Startdate").val());
        $("#Startdate").attr("max",$("#EndDate").val());
        $("#Startdate").on("input",function(e){
            $("#EndDate").attr("min",$(this).val())
        });
        $("#EndDate").on("input",function(e){
            $("#Startdate").attr("max",$(this).val())
        })
        function surveyTypechange(element) {
          var selectedValue = $(element).val();
          if (selectedValue === "SelectiveParticipants"){
              $(".Participants").show()
          }else {
              $(".Participants").hide()
          }
        }
    </script>
}