@model Surveyapp.Models.Survey

@{
    ViewData["Title"] = "Edit";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a asp-action="Index">
                <span>My Surveys </span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Edit @Model.name Survey </span>
            </a>
        </li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SurveyerId" />
            <input type="hidden" asp-for="approvalStatus">
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                @*<input asp-for="status" class="form-control" />*@
                <select asp-for="status" class="form-control">
                    <option value="Open">Open<small>(allow anounimous take of survey)</small></option>
                    <option value="Closed">Closed<small>(login required for survey take)</small></option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SurveyerId" class="control-label"></label>
                <select asp-for="SurveyerId" class="form-control" asp-items="ViewBag.SurveyerId"></select>
                <span asp-validation-for="SurveyerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#EndDate").attr("min",$("#Startdate").val());
        $("#Startdate").attr("max",$("#EndDate").val());
        $("#Startdate").on("input",function(e){
            $("#EndDate").attr("min",$(this).val())
        });
        $("#EndDate").on("input",function(e){
            $("#Startdate").attr("max",$(this).val())
        })
    </script>
}
